        body {
            background-color: #f3f4f6;
            font-family: Arial;
            padding: 20px;
        }

        h1 {
            font-style: italic;
            font-size: 22px;
        }

        p {
            font-size: 18px;
        }

        b {
            font-size: 16px;
        }

        small {
            font-size: 14px;
        }

        
        .fancy {
            font-family: 'Mea Culpa', cursive;
            font-size: 28px;
            color: purple;
        }
        .Anas {
            font-family: 'Mea Culpa', cursive;
            font-size: 28px;
            color: purple;
        }